<div ng-controller="instagram">
	<!-- Background -->
	<img id="full-screen-background-image" ng-src="{{pic.images.standard_resolution.url}}" alt="">
	<section id="full-screen-color">
	</section>
	<!-- Background -->
	<div class="jumbotron">
		<div class="container promo">
			<h1>¿No sabes a dónde ir en Quintana Roo?</h1>
			<h2>Pronto te recomendaremos los mejores lugares.</h2>
			<button type="button" class="btn btn-primary btn-lg">Mantenme informado</button>
		</div>
		<div class="author">
		  <p>Foto por: <a ng-href="{{pic.link}}">{{pic.user.full_name}}</a></p>
		</div>
	</div>
	  
	
	<div class="landing">
		<div class="container feature">
			<div class="row">
				<div class="col-md-6 col-md-push-6">
					<span class="picture">
						<img src="img/beach-party.jpg" alt="" class="img-circle img-responsive">	
					</span>
					
				</div>
				<div class="col-md-6 col-md-pull-6">
					<h2>Encuentra el lugar perfecto para divertirte</h2>
					<p>¿Es fin de semana, estás aburrido y no sabes a donde ir? Nosotros te recomendaremos los mejores lugar que tiene Quintana Roo, además de saber qué dicen las otras personas de esos lugares y toda la información que necesites para pasar un excelente rato.</p>
					<button type="button" class="btn btn-lg btn-call">
						Explora lugares
					</button>
				</div>
			</div>
		</div>

		<div class="container feature">
			<div class="row">
				<div class="col-md-6" >
					<span class="picture">
						<img src="img/club-403.jpg" alt="" class="img-circle img-responsive">	
					</span>
					
				</div>
				<div class="col-md-6">
					<h2>Ideal para empresas</h2>
					<p>¿Tienes un negocio y quieres promocionarlo a través de internet pero no sabes cómo hacerlo? Nosotros te asesoramos y publicamos tu negocio en el sitio.</p>
					<button type="button" class="btn btn-lg btn-call">
						Registra tu negocio
					</button>
				</div>
			</div>
		</div>

		<div class="container feature">
			<div class="row">
				<div class="col-md-6 col-md-push-6">
					<img src="img/lindy-b.jpg" alt="" class="img-circle img-responsive">
				</div>
				<div class="col-md-6 col-md-pull-6">
					<h2>Promociona tu evento</h2>
					<p>¿Quieres que tu evento llegue a más personas además de las que tienes en tu redes sociales? Nosotros te publicamos tu evento para que miles de personas dentro del Estado lo encuentren y asistan.</p>
					<button type="button" class="btn btn-lg btn-call">
						Registra tu evento
					</button>
				</div>
			</div>
		</div>
	</div>	
</div>

